/*------------------------------------------------------------------------
    Global
        $functions
        $body
        $helpers
        $Streamers
        $forms
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
    Function
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
 Globals   
------------------------------------------------------------------------*/
body {
  font-family: serif;
  font-weight: bold;
  font-size: 12px; }

/*------------------------------------------------------------------------
    $streamers
------------------------------------------------------------------------*/
.rejected {
  border-collapse: collapse; }

.rejected tr {
  background-color: #fae9e9; }

.newly tr {
  background-color: rgba(43, 235, 43, 0.1); }

/*------------------------------------------------------------------------
    $helpers
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
    $streamers
------------------------------------------------------------------------*/
/*------------------------------------------------------------------------
    $forms
------------------------------------------------------------------------*/
.form-add {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: 1px 1px 10px #aeaeae;
  -o-box-shadow: 1px 1px 10px #aeaeae;
  -ms-box-shadow: 1px 1px 10px #aeaeae;
  -webkit-box-shadow: 1px 1px 10px #aeaeae; }

.form-add legend {
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc; }

.form-add fieldset {
  padding: .5em; }

.form-add fieldset .checkbox {
  margin: -5px 10px 10px 10px;
  margin-top: -5px;
  width: 100%; }

.form-add fieldset .w50 {
  width: 45%;
  display: inline-block; }

.form-add .list-jogos {
  display: block; }

.form-add .list-jogos label {
  display: inline-block; }

.form-add .list-jogos input[type='checkbox'] {
  display: inline-block;
  margin-bottom: 5px;
  margin: 10px; }

.catMain {
  background: #6BD1D3;
  border: 3px solid white;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px; }

.catSubMain {
  background: #35A7C4;
  border: 3px solid white;
  padding: 15px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 5px; }

.catSubSub {
  background: #1AC2ED;
  border: 3px solid white;
  padding: 15px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: -10px;
  border-radius: 5px; }
