div.navmain{
  min-height:70px !important;
  background:white;  
}
.center-height{
  margin-top:1.38% !important;
}
.no-padding{
  padding-left:0 !important; 
  padding-right:0 !important;
}
.cart-link{
  background-color: #F6B428;
  height:100%;
  display:block;
}
.cart-icon{
    background:url('../images/sprites.png');
    background-position: 0 -1944px;
    display: inline-block;
    height: 26px;
    width: 30px;
}
