[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.frontController.langDirectory = APPLICATION_PATH "/locale"
resources.frontController.prefixDefaultModule = true

resources.view[] =
resources.view.doctype = "XHTML1_STRICT"
resources.view.encoding = "UTF-8"
resources.view.contentType = "text/html;charset=utf-8"
resources.session.save_path = APPLICATION_PATH "/data/session"
resources.session.use_only_cookies = true
resources.session.remember_me_seconds = 864000

email.server = ""
email.port = 587
email.username = ""
email.password = ""
email.protocol = "tls"

resources.db.adapter = "Pdo_Mysql"
resources.db.params.host = ""
resources.db.params.username = ""
resources.db.params.password = ""
resources.db.params.dbname = ""
resources.db.params.charset = utf8

doctrine.conn.host = ''
doctrine.conn.user = ''
doctrine.conn.pass = ''
doctrine.conn.driv = 'pdo_mysql'
doctrine.conn.dbname = ''
doctrine.path.models = APPLICATION_PATH "/models"
doctrine.conn.driverOptions.1002 = "SET NAMES 'UTF8'"

resources.modules[] = ""

resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

